# Node modules
node_modules
npm-debug.log
yarn-error.log

# Laravel build artifacts
/vendor
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/debugbar

# Environment files
.env
.env.*

# Docker artifacts
Dockerfile
.dockerignore
docker-compose.yml

# Git
.git
.gitignore

# IDEs and editors
*.swp
*.swo
*.idea
.vscode

# OS-specific
.DS_Store
Thumbs.db
